@media only screen and (max-width: 1200px) {
  .menu{
    li {
      a, h4 {
        font-size: 20px;
      }
    }
  }
  .main{
    #label{
      font-size:60px;
    }
  }
  .part_name{
    font-size: 40px;
  }
  .info {
    .container {
      #numbers, #operations {
        #op {
          font-size: 22px;
        }

        li {
          font-size: 18px;
        }
      }
    }
  }
  .tech{
    .container{
      .info_card{
        #type{
          font-size: 26px;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .menu {
    li {
      a, h4 {
        font-size: 16px;
      }
    }
  }
  .main{
    #label{
      font-size:40px;
      height: 40px;
      line-height: 40px;
    }
  }
  .info {
    .container {
      #numbers, #operations {
        #op {
          font-size: 26px;
        }
        li {
          font-size: 18px;
        }
      }
    }
  }
  .tech{
    .container{
      width: 90vw;
      margin-left: 5vw;
      .info_card{
        width: 42.5vw;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .menu {
    padding-right: 20px;
    #support {
      display: none;
    }
    li {
      #logo {
        width: 0;
        display: none;
      }
      a, h4 {
        font-size: 16px;
      }
    }
  }
  .main {
    #label {
      font-size: 30px;
      height: 40px;
      line-height: 40px;
    }
  }
  .info{
    .container{
      width: 90vw;
      margin-left: 5vw;
      #numbers, #operations{
        li{
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }
  .tech{
    margin-bottom: 100px;
    .container{
      width: 95vw;
      margin-left: 2.5vw;
      .info_card{
        width: 45vw;
        li{
          font-size: 16px;
        }
        #type{
          font-size: 20px;
        }
        .img_hold{
          #sub{
            font-size: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .menu {
    #lang{
      display: none;
    }
  }
  .main {
    #label {
      font-size: 20px;
      height: 40px;
      line-height: 40px;
    }
  }
  .part_name{
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    padding: 10px;
  }
  .info{
    height: 500px;
    .container{
      width: 100vw;
      margin-top: 40px;
      height: 350px;
      margin-left: 0;
      #numbers, #operations{
        height: 100%;
        li{
          font-size: 12px;
        }
      }
    }
  }
  .tech{
    margin-bottom: 50px;
    .container{
      width: 100vw;
      margin-left: 0;
      .info_card{
        width: 47.5vw;
        li{
          padding: 5px 0;
          height: 20px;
        }
        ul{
          height: 150px;
        }
      }
    }
  }
}
@media only screen and (max-width: 320px){
  .menu {
    #lang{
      display: none;
    }
  }
  .main {
    #label {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
    }
  }
  .part_name{
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    padding: 10px;
  }
  .info{
    height: 700px;
    .container{
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      margin-top: 40px;
      height: 600px;
      margin-left: 0;
      #numbers, #operations{
        height: 45%;
        li{
          font-size: 12px;
        }
      }
    }
  }
  .tech{
    margin-bottom: 25px;
    .container{
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      margin-left: 0;
        .info_card {
          margin: 0px 0;
          width: 100vw;
        }
    }
  }
}