//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
.menu{
    height: 100px;
    display: flex;
    flex-direction: row;
    color: #F8F9FA;
    background-color: #22333B;
    justify-content: space-between;
    #lang{
        display: flex;
        flex-direction: row;
    }
    #support{
        display: flex;
        flex-direction: row;
        img{
            padding-left: 10px;
        }
    }

    li{
        transition: all .5s;
        cursor: pointer;
        list-style: none;
        height: 80px;
        padding-top: 10px;
        h4,a{
            color: #F8F9FA;
            text-decoration: none;
            font-size: 24px;
            font-weight: 800;
            height: 80px;
            line-height: 80px;
        }
        img{
            height: 80px;
            width: 80px;
        }
        #logo{
            padding-left: 20px;
        }
        #uaf_logo{
            padding-right: 20px;
        }
    }
    li:hover{
        a, h4{
            transition: all .5s;
            color: #EAE0D5;
        }
    }
}
.main-page{
    width: 100vw;
    background-image: url(../images/tank_shooting.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    .container{
        color: #F8F9FA;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 80vw;
        height: 600px;
        padding-left: 10vw;
        padding-top: 10vh;
        .block{
                transition: color .5s;
                font-size: 24px;
                font-weight: 900;
                cursor: pointer;
            h4{
                text-align: center;
                padding: 25px;
            }
            p{
                padding-left: 20px;
                padding-bottom: 10px;
                text-align: left;
            }
        }
        .high{
            width: 500px;
            height: 600px;
            background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/stormer.webp);
            background-position:center ;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .fs{
            background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/T-90.jpg);
        }
        .sc{
            background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/MIG-29.jpg);
        }
        .wide{
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 700px;
            height: 290px;
            
        }
        .wide_bl{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .block:hover{
            color: #22333B;
            transition: color .5s;
        }
    }
}
.wrapper{
    width: 100%;
    overflow: hidden;
}
.label{
    text-align: center;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    background-color: rgba(248, 249, 250, 0.7);
}
.news{
    width: 100vw;
    background-image: url(../images/sky.jpg);
    background-position:bottom;
    background-size: cover;
    height: 50vh;
    .container{
        height: 30vh;
        width: 80vw;
        padding-left: 10vw;
        padding-top: calc(10vh - 80px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card{
            background-position: center;
            cursor: pointer;
            font-weight: 900;
            text-align: center;
            height: 30vh;
            width: 17.5vw;
            background-size: cover;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            #date{
                color: #F8F9FA;
                transition: all .6s;
                height: 40px;
                text-align: right;
                line-height: 40px;
                padding-right: 10px;
                background-color: rgba(34, 51, 59, 0.3);
            }
            #name{
                transition: all .6s;
                color: #0A0908;
                background-color: rgba(248, 249, 250, 0.3);
                padding: 40px 0 ;
            }
            
        }
        .f{
            background-image: url(../images/s-60.jpg);
        }
        .s{
            background-image: url(../images/archer.jpg);
        }
        .t{
            background-image: url(../images/krab.jpg);
        }
        .fv{
            background-image: url(../images/btr-4mv1.jpg);
        }
        .card:hover{
            #name{
                transition: all .6s;
                padding: 50px 0 ;
                background-color: rgba(248, 249, 250, 0.7);
            }
            #date{
                transition: all .6s;
                background-color: rgba(34, 51, 59, 0.7);
            }
        }
    }
}
.technique{
    width: 100vw;
    height: 80vh;
    background-image: url(../images/israel-palacio-IprD0z0zqss-unsplash.jpg);
    background-size: cover;
    .container{
        padding-top: calc(10vh - 80px);
        padding-left: 10vw;
        width: 80vw;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .banner{
            cursor: pointer;
            text-align: center;
            height: 60vh;
            width: 17.5vw;
            .disp{
                font-size: 32px;
                font-weight: 900;
                display: flex;
                flex-direction: column;
                width: 10.5vw;
                margin-left: 3.5vw;
                background-color:rgba(248, 249, 250, 0.5) ;
                transition: all 1s;
            }
           
        } 
        .banner:hover{
            .disp{
                transition: all 1s;
                background-color: rgba(248, 249, 250, 0.9);
            }
        }
        .sea{
            background-image: url(../images/SHIP.jpg);
            background-size: cover;
            background-position: center;
        }
        .air{
            background-image: url(../images/F-15.jpg);
            background-size: cover;
            background-position: center;
        }
        .ground{
            background-image: url(../images/hizir-kaya-ExxuYNsViC4-unsplash.jpg);
            background-size: cover;
            background-position: center;
        }
        .special{
            background-image: url(../images/SOF.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}
.photos{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/field.jpg);
    background-position:bottom;
    background-size: cover;
    .slick_cont{
        height: 80vh;
        margin-top: calc(10vh - 80px);
        width: 80vw;
        margin-left: 10vw;
        display: flex;
        flex-direction: row;
        .next, .prev{
            width:2.5vw;
        }
        .slick{
            width: 80vw;
            height: 80vh;
            div{
                height: 80vh;
                width: 80vw;
                background-color: #F8F9FA;
                h4{
                    background-color: rgba(248, 249, 250, 0.3);
                    padding:25px ;
                    float: right;
                }
            }
        }
        .img_1, .img_2, .img_3, .img_4, .img_5, .img_6, .img_7, .img_8{
            background-size: cover;
            background-position: center;
        }
        .img_1{
            background-image: url(../images/A-10.jpg);
        }
        .img_2{
            background-image: url(../images/APACHE.jpg);
        }
        .img_3{
            background-image: url(../images/AH-64.jpg);
        }
        .img_4{
            background-image: url(../images/C-5.jpg);
        }
        .img_5{
            background-image: url(../images/CH-47.jpg);
        }
        .img_6{
            background-image: url(../images/tank_shooting.jpg);
        }
        .img_7{
            background-image: url(../images/F-35.jpg);
        }
        .img_8{
            background-image: url(../images/F-22.jpg);
        }

    }
}
.contacts{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/ivana-cajina-LlDQPnErFxo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    .container{
        width: 90vw;
        margin-left: 5vw;
        height: 80vh;
        margin-top: calc(10vh - 50px);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .links{
            height: 80vh;
            width: 40vw;
            ul{
                height: 60vh;
                margin-top: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
            }
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 40vw;
                height: 12.5vh;
                background-color: antiquewhite;
                img{
                    height: 10vh;
                    margin-top: 1.25vh;
                    margin-left: 25px;
                }
                a{
                    margin-right: 25px;
                    text-decoration: none;
                    color: #22333B;
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 12.5vh;
                }
            }
        }
        .fund{
            width: 40vw;
            height: 80vh;
            background-color: rgba(248, 249, 250, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .upper{
                height: 30vh;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                h4{
                    font-size: 32px;
                    height: 30vh;
                    line-height: 30vh;
                }
                img{
                    width: 100px;
                }ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                #spec{
                    font-size: 26px;
                    font-weight: 800;
                    list-style: none;
                }
            }
            .lower{
                height: 40vh;
                background-size: cover;
                background-position: center;
                background-image: url(../images/specna-arms-Um9WPLvWV_M-unsplash.jpg);
            }
        }
    }
}